# Titulo 1

## Sub Titulo 1

**Texto em Negrito**

*Texto em Italico*

[Imagem](https://static.politico.com/da/f5/44342c424c68b675719324b1106b/politico.jpg)

In [307]:
# importanto
import pandas as pd
import pandas_profiling as pf

In [308]:
df = pd.read_csv('ceaps_dataset.csv',skiprows=1,delimiter = ';',encoding = 'latin1')
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,"73,6"
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,"206,84"
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,"407,48"
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550

In [309]:
df.tail()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
26686,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,083555,23/12/2016,NaN,"183,4"
26687,2016,12,ZEZÉ PERRELLA,"Locomoção, hospedagem, alimentação, combustíve...",01.245.727/0001-00,Trevo Posto de Serviços Ltda,084787,26/12/2016,NaN,50
26688,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",09.296.295/0001-60,Azul,QGIJ8X,07/12/2016,"Companhia Aérea: AZUL, Localizador: QGIJ8X. Pa...","1055,41"
26689,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,S6ZB6L,12/12/2016,"Companhia Aérea: AZUL, Localizador: S6ZB6L. Pa...","390,18"
26690,2016,12,ZEZÉ PERRELLA,"Passagens aéreas, aquáticas e terrestres nacio...",21.443.582/0001-50,Pronto Produção de Eventos e Turismo Ltda,ZDS6KY,12/12/2016,"Companhia Aérea: GOL, Localizador: ZDS6KY. Pas...","654,28"

In [310]:
df.dtypes

ANO                   int64
MES                   int64
SENADOR              object
TIPO_DESPESA         object
CNPJ_CPF             object
FORNECEDOR           object
DOCUMENTO            object
DATA                 object
DETALHAMENTO         object
VALOR_REEMBOLSADO    object
dtype: object

In [311]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26691 entries, 0 to 26690
Data columns (total 10 columns):
ANO                  26691 non-null int64
MES                  26691 non-null int64
SENADOR              26691 non-null object
TIPO_DESPESA         26691 non-null object
CNPJ_CPF             26691 non-null object
FORNECEDOR           26691 non-null object
DOCUMENTO            24647 non-null object
DATA                 26691 non-null object
DETALHAMENTO         21308 non-null object
VALOR_REEMBOLSADO    26691 non-null object
dtypes: int64(2), object(8)
memory usage: 2.0+ MB

In [312]:
df.describe()

           ANO           MES
count  26691.0  26691.000000
mean    2016.0      6.470908
std        0.0      3.257134
min     2016.0      1.000000
25%     2016.0      4.000000
50%     2016.0      6.000000
75%     2016.0      9.000000
max     2016.0     12.000000

In [313]:
df['VALOR_REEMBOLSADO'] = df['VALOR_REEMBOLSADO'].str.replace(',','.')
df['VALOR_REEMBOLSADO'] = pd.to_numeric(df['VALOR_REEMBOLSADO'])

In [314]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,13/01/2016,Despesa com pagamento de energia elétrica para...,73.60
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,18/01/2016,Pagamento de energia elétrica para o escritóri...,206.84
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,04/01/2016,"Despesa com pagamento de aluguel, utilizado pa...",6000.00
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,16/01/2016,despesa com pagamento de telefonia para o escr...,407.48
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,06/01/2016,Aquisição de publicação virtual de conteúdo jo...,550.00

In [315]:
df.describe()

           ANO           MES  VALOR_REEMBOLSADO
count  26691.0  26691.000000       26691.000000
mean    2016.0      6.470908         947.484513
std        0.0      3.257134        2733.820037
min     2016.0      1.000000           0.010000
25%     2016.0      4.000000         124.000000
50%     2016.0      6.000000         324.790000
75%     2016.0      9.000000         956.865000
max     2016.0     12.000000      256980.000000

In [316]:
df['DATA'] = df['DATA'].str.replace('20/07/5017','20/07/2017')
df['DATA'] = df['DATA'].str.replace('02/04/3016','02/07/2016')
df['DATA'] = df['DATA'].str.replace('04/04/216','04/04/2016')

In [317]:
 map_data = {'20/07/5017':'20/07/2017',
            '02/04/3016':'02/07/2016',
            '04/04/216': '04/04/2016',
            '04/04/0216': '04/04/2016',
            '31/10/0200': '31/10/2016',
            '31/10/0206':'31/10/2016'}

In [318]:
df['DATA'] = pd.to_datetime(df['DATA'],errors = 'coerce')

In [319]:
# tirar apenas as colunas que vc quer
df.dropna(subset = ['DATA'],inplace = True)

In [320]:
df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO
0,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011328,2016-01-13,Despesa com pagamento de energia elétrica para...,73.60
1,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.914.650/0001-66,ELETROBRÁS DISTRIBUIÇÃO RONDÔNIA,000011327,2016-01-18,Pagamento de energia elétrica para o escritóri...,206.84
2,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,001/16,2016-04-01,"Despesa com pagamento de aluguel, utilizado pa...",6000.00
3,2016,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",05.423.963/0001-11,OI MÓVEL S.A.,661639001,2016-01-16,despesa com pagamento de telefonia para o escr...,407.48
4,2016,1,ACIR GURGACZ,Aquisição de material de consumo para uso no e...,62.652.961/0001-38,AGÊNCIA ESTADO S.A.,00608918,2016-06-01,Aquisição de publicação virtual de conteúdo jo...,550.00

In [321]:
df['TIPO_DESPESA'].unique()

array(['Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.',
       'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ',
       'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar',
       'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes',
       'Passagens aéreas, aquáticas e terrestres nacionais',
       'Divulgação da atividade parlamentar',
       'Serviços de Segurança Privada'], dtype=object)

In [322]:
mapper = {'Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.':'Alugel',
          'Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos. ':'Locação',
          'Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar':'Contratação',
          'Locomoção, hospedagem, alimentação, combustíveis e lubrificantes':'Logistica',
          'Passagens aéreas, aquáticas e terrestres nacionais':'Passagens',
          'Divulgação da atividade parlamentar':'Divulgações',
          'Serviços de Segurança Privada':'Segurança'}

In [323]:
df["TIPO_DESPESA"] = df['TIPO_DESPESA'].map(mapper)

In [324]:
df['TIPO_DESPESA'].value_counts(dropna = False)

Logistica      10324
Passagens       6852
Alugel          5293
Locação         2024
Divulgações     1083
Contratação      968
Segurança        144
Name: TIPO_DESPESA, dtype: int64

In [325]:
df[df['TIPO_DESPESA'].isnull()]

Empty DataFrame
Columns: [ANO, MES, SENADOR, TIPO_DESPESA, CNPJ_CPF, FORNECEDOR, DOCUMENTO, DATA, DETALHAMENTO, VALOR_REEMBOLSADO]
Index: []

In [330]:
df['DAY'] = df.DATA.dt.day

In [331]:
df.dtypes

ANO                           int64
MES                           int64
SENADOR                      object
TIPO_DESPESA                 object
CNPJ_CPF                     object
FORNECEDOR                   object
DOCUMENTO                    object
DATA                 datetime64[ns]
DETALHAMENTO                 object
VALOR_REEMBOLSADO           float64
DAY                           int64
dtype: object

In [332]:
df.to_csv('dados_limpos.csv',encoding = 'latin1',index = False)